@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FAF9F6;
}

section {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: #483C32;
}

.header {
    position: absolute;
    top: 2vh;
    left: 5vw;
    z-index: 100;
    display: flex;
    mix-blend-mode: difference;

}

.header .logo {
    color: #a78b75;
    text-decoration: none;
    font-size: 1.2em;
}

.header .logo:hover {
    transform: scale(1.2);
    transition: ease-in-out 250ms;
}

.flex-container {
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100vw;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.flex-title {
    color: #FAF9F6;
    position: relative;
    font-size: 6vh;
    margin: auto;
    text-align: center;
    transform: rotate(90deg);
    top: 15%;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    @media screen and (max-width: 768px) {
        transform: rotate(0deg) !important;
    }
}

.flex-about {
    opacity: 0;
    color: #FAF9F6;
    position: relative;
    width: 70%;
    font-size: 3vh;
    padding: 5%;
    top: 15%;
    border: 2px solid #FAF9F6;
    border-radius: 10px;
    line-height: 1.3;
    margin: auto;
    text-align: left;
    transform: rotate(0deg);
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    @media screen and (max-width: 768px) {
        padding: 0%;
        border: 0px solid #f1f1f1;
        opacity: 1;
    }
}

.flex-slide {
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

    @media screen and (max-width: 768px) {
        overflow: hidden;
    }
}

.flex-slide p {
    @media screen and (max-width: 768px) {
        font-size: 3vh;
    }
}

.flex-slide ul li {
    @media screen and (max-width: 768px) {
        font-size: 3vh;
    }
}

.flex-slide:hover {
    -webkit-flex-grow: 3;
    flex-grow: 3;
}

.home {
    height: 90vh;
    background: linear-gradient(#00000080, #00000080), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/lake-macquarie-71208_1920.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    @media screen and (min-width: 768px) {
        animation: aboutFlexSlide $defaultSeconds 1;
        animation-delay: 0s;
    }
}

@keyframes aboutFlexSlide {
    0% {
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }

    50% {
        -webkit-flex-grow: 3;
        flex-grow: 3;
    }

    100% {
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }
}

.flex-title-home {
    @media screen and (min-width: 768px) {
        transform: rotate(90deg);
        top: 15%;
        animation: aboutFlexSlide $defaultSeconds 1;
        animation-delay: 0s;
    }
}

@keyframes homeFlextitle {
    0% {
        transform: rotate(90deg);
        top: 15%;
    }

    50% {
        transform: rotate(0deg);
        top: 15%;
    }

    100% {
        transform: rotate(90deg);
        top: 15%;
    }
}

.flex-about-home {
    opacity: 0;

    @media screen and (min-width: 768px) {
        animation: aboutFlexSlide $defaultSeconds 1;
        animation-delay: 0s;
    }
}

@keyframes flexAboutHome {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.about {
    background: linear-gradient(#00000080, #00000080), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/beach-2089959_1280.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.contact2 {
    background: linear-gradient(#00000080, #00000080), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/lake-696098_1920.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.work {
    background: linear-gradient(#00000080, #00000080), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/forest-208517_1280.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.nextPage {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    width: 35vw;
    height: 10vh;
    mix-blend-mode: difference;
    cursor: default;
}

.arrow {
    height: 50px;
    width: 30px;
    position: absolute;
    right: 5vw;
    top: 2vh;
    cursor: pointer;
    transform: rotate(270deg);
}

.arrow:before,
.arrow:after {
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 3px solid #a78b75;
    height: 20px;
    width: 20px;
    transform: translate(-50%, -70%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: point 1s ease-in-out infinite;
}

.arrow:after {
    top: 20%;
    animation-delay: .3s;
}

@keyframes point {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        top: 90%;
    }
}

.contactButton {
    position: absolute;
    top: 4.5vh;
    right: 5vw;
    z-index: 10;
    cursor: pointer;
    mix-blend-mode: difference;
}
.contactLine {
    width: 50px;
    height: 5px;
    background-color: #a78b75;
    border-radius: 1vh;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
}

.contactButton.is-active .contactLine:nth-child(2) {
    opacity: 0;
}

.contactButton.is-active .contactLine:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.contactButton.is-active .contactLine:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 7vh;
    right: 19vw;
    opacity: 0;
    transform: translate(20vw) scale(0);

    @media screen and (max-width: 1279px) {
        top: 7vh;
        right: 27vw;
    }

    @media screen and (max-width: 768px) {
        top: 25vh;
        right: 10vw;
    }
}

.contact.is-active {
    opacity: 1;
    transform: translate(0vw) scale(1);
    transition: .5s ease-in-out;
}

.contact ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.contact ul li {
    list-style: none;
    margin: 0 15px;
}

.contact ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    background: #AEC6CF;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;

    @media screen and (max-width: 768px) {
        margin-top: 10px;
    }
}

.contact ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #FAF9F6;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

.contact ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #FAF9F6;
}

.contact ul li a:hover {
    color: #FAF9F6;
    box-shadow: 0 0 5px #FAF9F6;
    text-shadow: 0 0 5px #FAF9F6;
}

.contact ul li a img {
    filter: invert(1);
    max-width: 30px;
}

.bgGradient {
    background-image: linear-gradient(#FFFDD0, #AEC6CF);
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    position: absolute;
    @media screen and (max-width: 768px) {
        height: 155%;
    }
}

.sideTitle {
    position: absolute;
    margin-top: 20vh;
    margin-left: 10vw;
    height: 100vh;
    width: 15vw;
    color: #222;

    @media screen and (max-width: 768px) {
        position: relative;
        margin-top: 15vh;
        margin-left: 15vw;
        height: 25vh;
        width: 70vw;
    }
}

.sideBg {
    position: absolute;
    background: #aec6cfa4;
    border-radius: 1vh;
    width: 100%;
    height: 100%;
    z-index: 0;
    filter: blur(2px);
}

.recTitle {
    position: relative;
    margin-top: 3vh;
    margin-block: 3vh;
    text-align: center;
    font-size: 2em;
    z-index: 2;
}

.directions {
    position: relative;
    overflow-wrap: break-word;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1em;
    z-index: 2;
}

.recContent {
    position: absolute;
    margin-left: 30vw;
    margin-top: 20vh;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
        position: relative;
        margin-left: 15vw;
        margin-top: 5vh;
    }
}

.genre {
    position: relative;
    min-width: 15vw;
    height: 15vw;
    background: #222;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        min-width: 70vw;
        height: 10vh;
    }
}

.genre:hover {
    box-shadow: 0 0 10px #fff;
    border-radius: 1vw;
    transform: scale(1.07);
    transition: .25s linear;
}

.imgCover {
    position: relative;
    height: 100%;
}

.description {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    bottom: 0;
    width: auto;
    height: auto;
    margin: 2vw;
    @media screen and (max-width: 768px) {
        font-size: 0.8em;
    }
}

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: #00000011;
    display: none;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #aec6cff5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 99;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    cursor: pointer;
}

.sidebarTitle {
    position: absolute;
    top: 5vh;
    right: 3vw;
    font-weight: 600;
    color: #222;
    @media screen and (max-width: 768px) {
        font-size: 0.8em;
    }
}

.shounenRec,
.shoujoRec,
.comedyRec,
.dramaRec,
.romanceRec,
.thrillerRec,
.healingRec,
.sportsRec,
.storyRec {
    display: none;
    position: relative;
    height: 20vh;
    background: #222;
    margin: 2vw;
    @media screen and (max-width: 768px) {
        min-width: 30vw;
    }
}

.shounen .imgCover {
    background: url('images/sss.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.shounen1 {
    background: url('images/111.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.shounen2 {
    background: url('images/222.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.shoujo .imgCover {
    background: url('images/sss.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.shoujo1 {
    background: url('images/111.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.shoujo2 {
    background: url('images/222.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.comedy .imgCover {
    background: url('images/ccc.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.comedy1 {
    background: url('images/111.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.comedy2 {
    background: url('images/222.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.romance .imgCover {
    background: url('images/rrr.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.romance1 {
    background: url('images/111.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.romance2 {
    background: url('images/222.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.thriller .imgCover {
    background: url('images/sss.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.thriller1 {
    background: url('images/111.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.thriller2 {
    background: url('images/222.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.healing .imgCover {
    background: url('images/sss.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.healing1 {
    background: url('images/111.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.healing2 {
    background: url('images/222.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.sports .imgCover {
    background: url('images/sss.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.sports1 {
    background: url('images/111.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.sports2 {
    background: url('images/222.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.story .imgCover {
    background: url('images/sss.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.story1 {
    background: url('images/111.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.story2 {
    background: url('images/222.png');
    background-size: cover;
    background-repeat: no-repeat;
}